body {
  text-align: center;
  background-color: #eeeeee;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid thin cornflowerblue;
  background-color: #55cefd;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  justify-items: center;
}

nav {
  margin: 16px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  outline: solid thin lightcoral;
  background-color: #f6aab7;
  & > button {
    margin: 12px auto;
    font-size: 20px;
    color: #ffffff;
    border-color: cornflowerblue;
    border-radius: 5px;
    background-color: #55cefd;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  & > button:hover {
    background-color: #55B6FD;
  }
}

#views {
  outline: solid thin #55cefd;
  line-height: 1.4;
  /* margin: 16px; */
  grid-column-start: 3;
  width: 100%;
  padding: 8px;
  & > p {
    margin: 0;
    display: none;
  }
}

.view {
  /* visibility: hidden; */
  /* opacity: 0; */
  transition: visibility 0s 1s, opacity 0.3s 1s;
}

.header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

h2 {
  font: sans-serif;
  line-height: 1.2;
  font-size: 26px;
}

p {
  color: #444;
  padding: 16px;
}

figcaption {
  color: #444;
  padding: 8px;
  margin: 0;
}

#team {
  background-color: #55cefd;
  max-width: 20%;
  margin: 40px auto;
  outline: solid thin cornflowerblue;
  & > p {
    padding: 4px;
    margin: 8px;
  }
}

.tab:hover {
  background-color: #dddddd;
}

.tab {
  margin: 0px 0px;
  flex: 1;
  padding: 0;
  /* outline: solid thin lightblue; */
  border: none;
  background-color: #eeeeee;
  cursor: pointer;
  font-family: sans-serif;
}

footer {
  height: 40px;
  width: 100%;
  bottom: 0;
  background-color: #f6aab7;
  margin: 0;
  padding-bottom: 9px;
  outline: solid thin lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  outline: solid medium #f6aab7;
  display: flex;
  justify-content: center;
  align-content: center;
}

#map-view {
  max-width: 100%;
}

area {
  cursor: pointer;
}

.sidebar {
  outline: solid thin #f6aab7;
  padding: 16px;
  /* margin: 16px auto 16px 8px; */
  display: grid;
  grid-template-columns: 1fr;
  /* width: 55%; */
  & > button {
    margin: 8px;
  }
}

.news-article{
  padding: 8px;
  & > p {
    padding: 0;
  }
}